<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazenon</title>
    <script defer src="../static/JS/source.js"></script>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=search" />


</head>

<body>
    <div>
        <h1>Amazon Web Scraper</h1>
    </div>
    <form id="form" method="GET">
        <div class="search-bar">
            <input autocomplete="off" class="search-input" name="itemInput" type="text"
                placeholder="Search Name">
        </div>
        <div class="search-bar">
            <input autocomplete="off" class="search-input" name="userInput" type="text"
                placeholder="Number of Pages">
        </div>
        <button id="myButton" type="submit">Scrape</button>

    </form>
    <div id="results">
        <h1>Data</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Url</th>
                <th>Amount Purchased</th>
                <th>Review</th>
                <th>Number of Reviews</th>
            </tr>
            {% for row in data %}
            <tr id="row-{{ loop.index }}">
                <td id="name">{{ row['name'] }}</td>
                <td id="price">{{ row['price'] }}</td>
                <td id="url">
                    <a href="{{ row['url'] }}">Link</a>
                    </td>
                <td id="amountPurchased">{{ row['amountPurchased'] }}</td>
                <td id="review">{{ row['review'] }}</td>
                <td id="numberOfReviews">{{ row['numberOfReviews'] }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>

</body>

</html>