<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazenon</title>
    <script defer src="../static/JS/source.js"></script>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=search" />
    
    
    <style>
        
        @keyframes fadeIn {
            0% {
                opacity: 0;
                border-color: transparent;
            }

            100% {
                opacity: 1;
                border-color: #9999A1;
            }
        }

        body {
            animation: fadeIn 2s ease-in;
        }

    </style>
    </head>
<body>
    <div id="header">
        <h1>Amazon Web Scraper</h1>
    </div>
    <form id="form" method="POST" action="/scrape">
        <div class="search-bar">
            <input id ="input-item" autocomplete="off" class="search-input" name="itemInput" type="text" placeholder="Search Name" required>
        </div>
        <div class="search-bar">
            <input id="input-pages"autocomplete="off" class="search-input" name="pageInput" type="text" placeholder="Number of Pages" required>
        </div>
        <button id="myButton" type="submit", method="POST">Scrape</button>

    </form>

    
</body>

</html>